<script src="//code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>


<script>
$(document).on("ready", function(){

	$("#developer_button").on("click", function(){
 		$("#developer_form").toggle("fast")
 	});

 	$("#nonprofit_button").on("click", function(){
 		$("#nonprofit_form").toggle("fast")
 	});
 });
</script>

<style>
html { 
  background: url(http://upload.wikimedia.org/wikipedia/commons/c/c2/Giving_Santa_a_helping_hand_%288424368684%29.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>



<div class="container">
	<div class="row clearfix">
		<div class="col-md-12">
			<h3 class="text-center">
				h3. Lorem ipsum dolor sit amet.
				
			</h3>
			<div class="row clearfix">
				<div class="col-md-1">
				</div>
				<div class="col-md-10">
					<p>
						Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
						<br />
						<br />
						<hr />
					</p>
				</div>
				<div class="col-md-1">
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-2">
				</div>
				<div class="col-md-3">
					 <button type="button" id="developer_button"class="btn btn-lg btn-block">Developer</button>
				</div>
				<div class="col-md-2">
				</div>
				<div class="col-md-3">
					 <button type="button" id="nonprofit_button" class="btn btn-lg btn-block">Nonprofit</button>
				</div>
				<div class="col-md-2">
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-2">
				</div>
				<div class="col-md-3 welcome_page_form">
					<span id="developer_form" style="display:none;">

						<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
						  <%= devise_error_messages! %>

						  <div><%= f.label :name %><br />
						  <%= f.text_field :name %></div>

						  <div><%= f.label :email %><br />
						  <%= f.email_field :email %></div>

						  <div><%= f.label :password %><br />
						  <%= f.password_field :password %></div>

						  <div><%= f.label :password_confirmation %><br />
						  <%= f.password_field :password_confirmation %></div>
						  <%= f.hidden_field :role, :value => "developer" %>

						  <div><%= f.submit "Sign up" %></div>
						<% end %>
					</span>
				</div>
				<div class="col-md-2">
				</div>
				<div class="col-md-3 welcome_page_form">
					<span id="nonprofit_form" style="display:none;">
						<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
						  <%= devise_error_messages! %>

						  <div><%= f.label :name %><br />
						  <%= f.text_field :name %></div>

						  <div><%= f.label :email %><br />
						  <%= f.email_field :email %></div>

						  <div><%= f.label :password %><br />
						  <%= f.password_field :password %></div>

						  <div><%= f.label :password_confirmation %><br />
						  <%= f.password_field :password_confirmation %></div>
						  <%= f.hidden_field :role, value: "nonprofit" %>

						  <div><%= f.submit "Sign up" %></div>
						<% end %>
					</span>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
	</div>
</div>