<% if current_user.role == 'nonprofit' %>
<h1><%= current_user.company_name %>'s Projects</h1>
	<%= will_paginate @my_projects %>

<div>

	<% @my_projects.each do |project| %>
	<% if current_user.id == project.user_id %>
		<%= link_to project.title, project_path(project[:id]) %>
		<%= project.description %>
		<%= project.category %>
	<% else %>
		<%= puts "You don't have any open projects. Create one!" %>
	</div>
	<% end %>
	<% end %>

	<%= will_paginate @my_projects %>

	<% if current_user.role == 'developer' %>
	<%= link_to 'Create New Project', new_project_path %>
<% end %>

<% else %>
<h1><%= current_user.name %></h1>





<% end %>






