<h1>New Project</h1>

<%= form_for @project do |f| %> 

  <div><%= f.label 'Project Title' %><br />
  <%= f.text_field :title %></div>

  <div><%= f.label 'Describe the project' %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
  <%= f.hidden_field :role, :value => "developer" %>

  <div><%= f.submit "Sign up" %></div>
<% end %>