<h1><%= @user.name %></h1>

<%= @user.picture_url %>
</br>

<%= @user.about %>

</br>

<%= @user.github_profile %>

</br>

<%= @user.linkedin_profile %>
</br>

<%= @user.twitter_profile %>

</br>

</br>

</br>