<h1><%= @user.name %></h1>

<%= @user.picture_url %>
</br>

<%= @user.about %>

</br>

<%= @user.github_profile %>

</br>

<%= @user.linkedin_profile %>
</br>

<%= @user.twitter_profile %>

</br>

</br>

</br>

<p>
<% if can? :update, @project %>
	<%= link_to "Edit", edit_project_path(@project) %>
<% end %>
<% if can? :destroy, @project %>
	<%= link_to "Delete", @project, :method => :delete, :confirm => "Are you sure you want to delete this project? This action can not be undone." %>
<% end %>
<%= link_to "Back to Projects", projects_path %>
<p>

