<h1><%= @project.title %></h1>
<h3>Posted By: <%= link_to current_user.company_name, user_path %></h3>
<p>Project Description: <%= @project.description %></p>
<p>Project Requirements: <%= @project.requirements %></p>
<p>Project Deadline: <%= @project.project_deadline %></p>
<p>Project Category: <%= @project.category %></p>

<p>

<% if current_user.role == 'nonprofit' && @project.user_id == current_user.id %>
	<%= link_to "Edit Project", edit_project_path(@project) %>
<% end %>
<% if current_user.role == 'nonprofit' && @project.user_id == current_user.id %>
	<%= link_to "Delete Project", @project, :method => :delete, :confirm => "Are you sure you want to delete this project? This action can not be undone." %>
<% end %>

<% if current_user.role == 'developer' %>
<% end %>

<%= link_to "Back to Projects", projects_path %>
<p>

<% if current_user.role == 'nonprofit' %>

</br>
<h3>Current Applicant's</h3>
	<p><% @project.list_current_projects.each do |project| %>
		<% if project.project_id == @project.id %>
			<%= link_to project.user.name, user_path(project.user_id) %></p>
		<% end %>
	<% end %>
<% end %>